body{
  /*  margin: 0;*/
    font-family: 'Poppins', sans-serif; 
}
h1{
    font-size:30px;
}
.name-highlight{
    color: burlywood;
}
h2{
    font-size: 40px;
}
p{
    color: dimgrey;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat; 
}
section{
    height: 600px;
   /* padding-bottom: 100px; */
}
.Linked-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightsalmon, tomato);
    padding: 20px,40px;
    border-radius: 20px;
    color: white;
    font-family: 700;
    }
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow-box{
    box-shadow: 10px 10px 10px gray;
    border-radius: 5x;
    height: 80%;
    background-color: white;
}
.experince-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}